<!-- Main -->
    <div class="view">
      <div class="full-bg-img">
          <div class="mask rgba-black-strong flex-center">
              <div class="container">
                  <div class="white-text text-center wow fadeInUp">
                      <h2>Bienvenido a Project Metter!</h2>
                      <h5>Obten una vista general del estado de tus proyectos</h5>
                      <br>
                      <p>Project Metter es una herramienta de administracion de proyectos, desde aqui podras ver a tus empleados, añadir tareas y registrar incidencias </p>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <!-- /.Main -->